@charset "ISO-8859-1";
body {
    text-align: center;
}
table {
	margin-left:auto; 
    margin-right:auto;
	text-align: center;
	border-collapse: collapse;
}
th, td {
	text-align: center;
	border-collapse: collapse;
}
p, em, strong, br, h3, h4, h5, ul {
	margin:0;
	line-height: 1;
}
h1, h2 {
	margin:1;
	line-height: 1.5;
}
.detailsSection {
	text-align: left;
}
.roles {
	text-align: left;
	border-top: 1px solid black;
}
#education {
	text-align: center;
}

.company {
    vertical-align: text-top;
	border-top: 1px solid black;
	padding-right: 10px;
}
#XMLContents{
	margin-left:auto; 
    margin-right:auto;
}
#Testing{
	margin-left:auto; 
    margin-right:auto;
}
.button {
    background-color: white;
    border: none;
    color: #3333CC;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
